
<cory-mat-loading ></cory-mat-loading>

<mat-sidenav-container class="cory-mat-sidenav-container">
    <mat-sidenav position="end" #sidenav class="cory-mat-sidenav">
        <div style="font-size: 1.5em; opacity: 0.5; padding: 15px;">
            {{ i18n.material.title.menu }}
        </div>

        <div (click)="sidenav.close()">

            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item  [routerLink]="'/full/components'" routerLinkActive="active">
                    Components
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [routerLink]="'/login'" routerLinkActive="active">
                    Login
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>



        </div>


    </mat-sidenav>

    <!-- top: 30px; -->
    <div style="z-index: 10; position: absolute;  right: 2px;" [style.top]="type=='raw' ? '2px' : '32px'">
        <span *ngIf="type=='raw'">
            <cory-mat-theme-button></cory-mat-theme-button>
            <cory-mat-translation-button></cory-mat-translation-button>
            <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>

        <mat-toolbar *ngIf="type=='full'" color="primary" class="cory-mat-toolbar-clear">
            <cory-mat-theme-button></cory-mat-theme-button>
            <cory-mat-translation-button></cory-mat-translation-button>
            <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <div class="cory-mat-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

<div *ngIf="sidenav.opened" style="position: fixed; top: 5px; right: 5px; z-index: 3">
    <button mat-icon-button color="primary"  (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>