
<cory-mat-loading></cory-mat-loading>
<md-sidenav-container class="cory-mat-sidenav-container">
    <md-sidenav align="end" #sidenav class="cory-mat-sidenav">
        <div style="position: absolute; top: 15px; right: 5px;">
            <button md-icon-button  (click)="sidenav.close()">
                <md-icon>close</md-icon>
            </button>
        </div>
        <div style="font-size: 1.5em; opacity: 0.5;">
            {{ i18n.material.title.menu }}
        </div>

        <div (click)="sidenav.close()">

            <button md-button [routerLink]="'/full/components'" style="text-align: left">
                Components
            </button>

            <button md-button [routerLink]="'/login'" style="text-align: left">
                Login
            </button>



        </div>


    </md-sidenav>

    <div style=" z-index: 10; position: absolute; top: 2px; right: 2px;">
        <span *ngIf="type=='raw'">
            <cory-mat-theme-button></cory-mat-theme-button>
            <cory-mat-translation-button></cory-mat-translation-button>
            <button md-icon-button (click)="sidenav.open()">
                <md-icon>menu</md-icon>
            </button>
        </span>

        <md-toolbar *ngIf="type=='full'" color="primary" class="cory-mat-toolbar-clear">
            <cory-mat-theme-button></cory-mat-theme-button>
            <cory-mat-translation-button></cory-mat-translation-button>
            <button md-icon-button (click)="sidenav.open()">
                <md-icon>menu</md-icon>
            </button>
        </md-toolbar>
    </div>

    <div class="cory-mat-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>