<form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate #elementForm>

    <mat-toolbar color="primary">
        <mat-icon>fingerprint</mat-icon>
        {{ i18n.title.authorization }}
        <span class="cory-mat-fill-horizontal"></span>
    </mat-toolbar>

    <mat-card>

        <mat-card-content class="cory-mat-form-full-width">

            <mat-input-container>
                <input cory-focus required  matInput [placeholder]="i18n.title.username" value="" ngModel name="username"  #modelUsername="ngModel" #inputUsername>
                <span matPrefix>
                            <mat-icon>face</mat-icon>&nbsp;
                        </span>
                <mat-error>
                    {{ i18n.invalid.required }}
                </mat-error>
            </mat-input-container>

            <br/>
            <br/>

            <mat-input-container>
                <input required matInput [placeholder]="i18n.title.password" type="password" value="" ngModel name="password"  #modelPassword="ngModel">
                <span matPrefix>
                            <mat-icon>vpn_key</mat-icon>&nbsp;
                        </span>
                <mat-error>
                    {{ i18n.invalid.required }}
                </mat-error>
            </mat-input-container>

        </mat-card-content>

        <mat-checkbox
                [checked]="auto"
                align="start"
                value="" ngModel name="auto"  #modelAuto="ngModel" #inputAuto
                >
            {{ i18n.title.autoLogin }}
        </mat-checkbox>

        <mat-card-actions align="end">

            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{ i18n.button.login}}
            </button>

        </mat-card-actions>

    </mat-card>

</form>
